* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  z-index: 10;
  position: absolute;
  width: 100%;
  position: fixed;
}
.navbar>img {
  width: 100px;
  height: 25px;
}
.navbar-expand-lg{
  justify-content: space-between;
  background-color: transparent;

}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-toggler {
  background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #e9581f;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #e9581f;
}
#slider {
  position: relative;
}
.slider__content {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
